<?xml version ="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="camera_length" value="0.01"/>
    <xacro:property name="camera_width" value="0.1"/>
    <xacro:property name="camera_height" value="0.05"/>

   <!-- base_link_rgbd_camera_joint -->
    <xacro:box_link m="0.5" o_xyz="0 0 0" o_rpy="0 0 0"
    link_name="rgb_camera_link" length="${camera_length}" 
    width="${camera_width}" height="${camera_height}" material_name="gray"/>

    <joint name="base_link_rgbd_camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rgb_camera_link"/>
        <origin xyz="${base_length / 2.0 + camera_length / 2.0} 0 0" rpy="0 0 0"/>
    </joint>
    <!-- base_link_rgbd_camera_joint -->

    <link name="rgb_camera_optical_link"/>
    <joint name="rgb_camera_optical_joint" type="fixed">
        <parent link="rgb_camera_link"/>
        <child link="rgb_camera_optical_link"/>
        <origin xyz="0 0 0" rpy="${-pi/2.0} 0 ${-pi/2.0}"/>
    </joint>

    <gazebo reference="rgb_camera_link">
        <sensor name="rgb_camera" type="camera">
            <always_on>1</always_on>
            <update_rate>10</update_rate>
            <visualize>true</visualize>
            <topic>camera/image_raw</topic>
            <camera>
                <optical_frame_id>rgb_camera_optical_link</optical_frame_id>
                <camera_info_topic>camera/camera_info</camera_info_topic>

                <horizontal_fov>1.658</horizontal_fov>

                <!-- <lens> -->
                    <!-- <intrinsics> -->
                    <!-- fx = fy = width / ( 2 * tan (hfov / 2 ) ) -->
                    <!-- <fx>329.9</fx> -->
                    <!-- <fy>329.9</fy> -->
                    <!-- cx = ( width - 1 ) / 2 -->
                    <!-- <cx>359.5</cx> -->
                    <!-- cy = ( height - 1 ) / 2 -->
                    <!-- <cy>539.5</cy> -->
                    <!-- <s>0</s> -->
                    <!-- </intrinsics> -->
                <!-- </lens> -->

                <distortion>
                    <k1>0.0</k1>
                    <k2>0.0</k2>
                    <k3>0.0</k3>
                    <p1>0.0</p1>
                    <p2>0.0</p2>
                    <center>0.5 0.5</center>
                </distortion>

                <image>
                    <width>320</width>
                    <height>240</height>
                    <format>R8G8B8</format>
                </image>

                <clip>
                    <near>0.01</near>
                    <far>200</far>
                </clip>

                <noise>
                    <type>gaussian</type>
                    <mean>0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
       </sensor>
    </gazebo>


</robot>