<?xml version ="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <!-- Variables -->
    <xacro:property name="lidar_height" value="0.03"/>
    <xacro:property name="lidar_radius" value="0.03"/>

    <!-- base_link_lidar_front_joint -->
    <xacro:cylinder link_name="front_lidar_link" m="0.5" o_xyz="0 0 0" o_rpy="0 0 0"
    radius="${lidar_radius}" length="${lidar_height}" material_name="black"/>

    <joint name="base_link_lidar_front_joint" type="fixed">
        <parent link="base_link"/>
        <child link="front_lidar_link"/>
        <origin xyz="${base_length / 2.0 - 0.05} 0.0 ${base_height / 2.0 + lidar_height / 2.0}" 
        rpy="0 0 0"/>
    </joint>
    <!-- base_link_lidar_front_joint -->

    <!-- base_link_lidar_back_joint -->
    <xacro:cylinder link_name="back_lidar_link" m="0.5" o_xyz="0 0 0" o_rpy="0 0 0"
    radius="${lidar_radius}" length="${lidar_height}" material_name="black"/>

    <joint name="base_link_lidar_back_joint" type="fixed">
        <parent link="base_link"/>
        <child link="back_lidar_link"/>
        <origin xyz="${-1.0*(base_length / 2.0 - 0.05)} 0.0 ${base_height / 2.0 + lidar_height / 2.0}" 
        rpy="0 0 ${pi / 2.0}"/>
    </joint>
    <!-- base_link_lidar_back_joint -->



</robot>